*.Td
*.d
src/gams_models/*.h
build/
*.sw?
drivers/ss_sched
drivers/stat-config
dfgs/*/*.h
dfg/*/amir/*
dfgs/*/sched/*
gams/
verif/
viz/
julia/
remap.dot
compile_commands.json
.idea
cmake-build-debug/*
.vscode
test_config/*
sched/*
.ycm_extra_conf.py
