*.Td
*.d
src/gams_models/*.h
3rd-party/libtorch/
build/
*.sw?
*.tar.gz
drivers/ss_sched
drivers/stat-config
dfgs/*/*.h
*amir*
dfgs/*/sched/*
gams/
verif/
viz/
julia/
remap.dot
compile_commands.json
.idea
cmake-build-debug/*
.vscode
test_config/*
sched/*
.sched/
.ycm_extra_conf.py
.cache/*
3rd-party/*.zip
.metals/*
tests/
pytorch
